@import 'style/variables.scss';

.logo {
   display: block;
   position: relative;
   margin-left: 0px;
   font-size: 20px;
   letter-spacing: -0.04rem;
   color: 000;
   min-height: 50px;
   padding-top: 15px;
   line-height: 20px;
}
.logoImg {
   display: inline-block;
   width: 24px;
   height: 24px;
   filter: brightness(1) invert(1);
   background-image: url('~images/logo-white.png');
   background-repeat: no-repeat;
   background-size: 24px 24px;
   margin-right: 10px;
   margin-bottom: -6px;
}

.logoNote {
   font-weight: normal;
   font-size: 12px;
   margin-left: 10px;
}

.description {
   padding: 30px;
}

.annotatedCode {
   display: block;
   background: $dark;
   color: #fff;
   padding: 10px 30px;
}

.titleNote {
   font-size: 12px;
}
.warning {
   background: #f99;
   padding: 5px;
   margin-bottom: 40px;
}
